<h1>New User</h1>
<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :experience %><br>
    <%= form.text_area :experience %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>

<% end %>